@import "node_modules/spectre.css/src/spectre";

*{box-sizing:border-box; margin:0; padding:0; font-size:16px; line-height:1.4}

#home-page{
    margin-top: 35vh;
    span{
        font-size:50px;
    }
}

#admin-page{
    margin-top: 18vh;
    .form-label{
        font-size: 25px;
    }
    .form-input{
        font-size: 20px;
    }
    #flash{
        font-size: 20px;
    }
}

body{
    font: 16px arial, serif;
}
