<div id='home-page'>
    <span class="h2 p-centered col-5 text-center mt-2 bg-primary">courcepage</span>
    <div id='home-page-content' class="h2 p-centered col-5 text-center text-secondary bg-dark">
        <span class="text-success">1 USD</span> <span class="text-error">=</span> <span id='cource'><%= @cource %></span> <span>RU</span>
    </div>
</div>